__pycache__
.venv
data/original_dataset/*
src/*.egg-info/*
test/*
data_dump/*
data/local/*
data/silver_parquet_dataset/*
data/gold_parquet_dataset/*
data/other_dataset/*
experiment/*
config/params_*.json
testing_data/*
eda/*
log/*
data/original_dataset/building-instinct-train-data/*.parquet
data/original_dataset/building-instinct-train-label/*.parquet
data/original_dataset/building-instinct-test-data/*.parquet
!data/original_dataset/building-instinct-train-data/
!data/original_dataset/building-instinct-train-label/
!data/original_dataset/building-instinct-test-data/
!data/other_dataset/census/
!.gitkeep
